<% if logged_in? %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>草野球メンバー募集</h1>
    </div>
  </div>
  <div class = 'text-center'>
      <h3>こちらは、京都の草野球チームの選手を募集するサイトです
      <br><br>自由に募集してメンバーを集めてください
  </div>
<% else %>
  <div class="offset-md-8 col-md-4 pb-4">
      <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
  </div>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>草野球メンバー募集</h1>
    </div>
  </div>
  <div class = 'text-center'>
      <h3>こちらは、京都の草野球チームの選手を募集するサイトです
      <br><br>自由に募集してメンバーを集めてください
  </div>
<% end %>