<p>自分が作ったルーム</p>
<% rooms.each do |room| %>
  <% if user_id = current_user %>
  <ul>
    <li><%= room.participate.name %>とのチャット</li>
    <%= link_to 'chatを始める', room_path(room.id) %>
  </ul>
  <% end %>
<% end %>

