<p>招待されたルーム</p>
<% rooms.each do |room| %>
  <% if participate_id = current_user %>
  <ul>
    <li><%= room.user.name %>とのチャット</li>
    <%= link_to 'chatを始める', room_path(room.id) %>
  </ul>
  <% end %>
<% end %>

<%= paginate rooms %>